.ForecastListCont {
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 300;
    font-size: 12px;
}

.ForecastItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
}

.ForecastItem .ForecastIcon{
    margin: 8px 0;
}