.container {
    position: relative;
}

.mainInfoCont{
    flex-direction: column;
    height: 470px;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}

.locationCont{
    text-align: left;
    color: white;
}

.locationInfoCont {
    width: 100%;
}

.locationInfoCont .locationTitle {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;
    
}

.locationInfoCont .locationDate {
    margin: 0;
    font-size: 14px;
    text-transform: capitalize;
    
}

.weatherType {
    font-size: 16px;
    font-weight: 400;
}


.WeatherDataCont{

}

.WeatherDataCont .weatherTemperature{
    font-size: 60px;
}

.WeatherExtraInfoCont{
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.WeatherExtraInfoMinTempCont,
.WeatherExtraInfoWindCont,
.WeatherExtraInfoHumidityCont,
.WeatherExtraInfoMaxTempCont {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WeatherExtraInfoItem {
    width: 100%;
    padding-left: 26px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: start;
}

.WeatherExtraInfoItem .WeatherIcon {
    width: 40px;
    text-align: center;
}
.WeatherExtraInfoItemRigth{
    padding-left: 16px;
}

.WeatherExtraInfoItemRigth .WeatherExtraInfoItemLabel {
    margin: 0;
    color: #727374;
    font-weight: 300;
    font-size: 14px;
}

.WeatherExtraInfoItemRigth .WeatherExtraInfoItemInfo {
    font-size: 14px;
    font-weight: 500;
}


.WeatherTemperatureCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.WeaklyListCont{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    font-size: 12px;
}

.WeaklyListCont .WeaklyListItem {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.WeaklyListCont .WeaklyListItem .WeaklyListItemPharagraphp{
    margin: 0;
}