.container {
    padding: 40px 20px;
}

.locationCont{
    text-align: left;
    color: white;
}

.locationInfoCont {
    width: 100%;
}

.locationInfoCont .locationTitle {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    
}

.locationInfoCont .locationDate {
    margin: 0;
    font-size: 14px;
    text-transform: capitalize;
    
}

.weatherType {
    font-size: 16px;
    font-weight: 400;
}


.WeatherDataCont{

}

.WeatherDataCont .weatherTemperature{
    font-size: 60px;
}

.WeatherExtraInforCont{

}

.WeatherTemperatureCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}